body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border-radius: 10px; /* Rounded corners */
}

header h1 {
    text-align: center;
    color: #333; /* Dark text color */
    margin-bottom: 20px; /* Spacing */
}

.contact-info {
    margin-bottom: 20px;
}

.summary,
.education,
.skills,
.certifications,
.experience,
.projects {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

section h3 {
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

article {
    margin-bottom: 20px;
}

article p {
    margin-bottom: 10px;
}

article ul {
    margin-left: 20px;
}

article ul li {
    margin-bottom: 3px;
}
